{% extends 'posts/posts_base.html' %}

{% block prepost %}
    <div class="col-2"><p></p></div>
    <div class="col-8">
    <br><br>
        {% for post in post_list %}
            <div class="card text-white bg-dark mb-3">
                <ul style="color:black;" class="list-group bg-dark">
                    <a class="list-group-item list-group-item-action" href="{% url 'posts:post_details' username=post.user pk=post.pk %}"><h6>{{ post.post_text|truncatewords:7 }}</h6></a>
                    <li class="list-group-item">@{{ post.user }} | {{ post.post_create_date }} | {{ post.group }}</li>
                </ul>
            </div><br>
        {% empty %}
            <h3>No posts has been made yet</h3>
        {% endfor %}
    </div>
    <div class="col-2"><p></p></div>
{% endblock prepost %}

{% block post_post %}
{% if is_paginated %}
    <nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm justify-content-center">
            <li class="page-item"><a class="page-link text-info" href="?page=1"><<<</a></li>
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link text-info" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
            <li class="page-item"><a class="page-link bg-info text-light" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link text-info" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
            <li class="page-item"><a class="page-link text-info" href="?page={{ page_obj.paginator.num_pages }}">>>></a></li>
        </ul>
    </nav>
{% endif %}
{% endblock post_post %}